


/* nav :start */
.top-nav{
  height: 80px;
  background-color: #32343D;
  display: flex;
  align-items: center;
}


.logo-box {
  align-items: center;
  height: 60px;
  width: 450px;
  background-color: #92CDCD;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:500px){
  .logo-box {
    display: flex;
    width: 250px;
  }
}

h1 {
  color: #32343D;
  font-size: 36px;
  margin-right: 10px;

}
@media screen and (max-width:755px){
  h1 {
    display: flex;
    font-size: 24px;
  }
}
@media screen and (max-width:500px){
  h1 {
    display: flex;
    font-size: 20px;
  }
}


ul {
  align-items: center;
  width: 100%;
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 20px;
  justify-content: flex-end;
  color: #92CDCD;
  margin-right: 50px;
}
@media screen and (max-width:770px){
  ul {
    margin-right: 0;
    padding-left: 10px;
  }
}



li {
  border-bottom: solid #92CDCD;
  border-width: 4px;
  padding: 4px;
  font-size: 24px;
}
@media screen and (max-width:770px){
  li {
    display: flex;
    font-size: 20px;
    border-width: 4;
    padding: 0;
  }
}
@media screen and (max-width:640px){
  li {
    display: flex;
    font-size: 12px;
    border-width: 4;
    padding: 0;

  }
}

li:hover {
  cursor: pointer;
  color: white;
}
/* nav end */



/* hero/image banner start */
.hero-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url("../../assets/images/visax-d8LP0fzYNY0-unsplash.jpg");
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: none;
  background-position: center;
}


.hero-subtitle {
  padding: 10px;
  margin-right: 100px;
  margin-bottom: 20px;
  display: flex;
  color: #32343D;
  background-color: #92CDCD;
}
@media screen and (max-width:770px){
  .hero-subtitle {
    font-size: 16px;
    margin-right: 20px;

  }
}



/* about me section start */

.container {
  margin-top: 50px;
  display: flex;
}


.sec-title {
  display: flex;
  justify-content: flex-end;
  align-items: top;
  text-align: right;
  border-right: solid #445877;
  color:  #445877;
  font-size: 38px;
  margin-right: 50px;
  padding-right: 20px;
  height: 250px;
  width: 20vw;
}

.aboutp {
  font-size: 16px;
  padding-right: 50px;
  width: 75vw;
  line-height: 25px;
}

/* about me section end */





.container-2 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: red;
}

.box1 {
  display: flex;
  flex-direction: column;
  background-color: blue;
  height: 200px;
  padding-right: 50px;
  width: 75vw;
}
.box2 {
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 221, 255);
  height: 200px;
  padding-right: 50px;
  width: 75vw;
}
.box3 {
  background-color: purple;
  display: flex;
  flex-direction: row;
  height: 200px;
  padding-right: 50px;
  width: 75vw;
}
.box4 {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  height: 200px;
  padding-right: 50px;
  width: 75vw;
}
.box5 {
  background-color: pink;
  display: flex;
  flex-direction: row;
  height: 200px;
  padding-right: 50px;
  width: 75vw;
}