
body {
  background: #c3c5da;
}

/* nav :start */
.top-nav{
  height: 80px;
  background-color: #32343D;
  display: flex;
  align-items: center;
}

/* 
left side top nav start*/
.logo-box {
  align-items: center;
  height: 60px;
  width: 450px;
  background-color: #92CDCD;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:500px){
  .logo-box {
    display: flex;
    width: 250px;
  }
}

h1 {
  color: #32343D;
  font-size: 36px;
  margin-right: 10px;

}
@media screen and (max-width:755px){
  h1 {
    display: flex;
    font-size: 24px;
  }
}
@media screen and (max-width:500px){
  h1 {
    display: flex;
    font-size: 20px;
  }
}
/* left side top nav end */


/* right side top nav start*/
.top-nav ul {
  align-items: center;
  width: 100%;
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 20px;
  justify-content: flex-end;
  color: #92CDCD;
  margin-right: 50px;
}
@media screen and (max-width:770px){
  .top-nav ul {
    margin-right: 0;
    padding-left: 10px;
  }
}



.top-nav li a {
  border-bottom: solid #92CDCD;
  border-width: 4px;
  padding: 4px;
  font-size: 24px;
  color: #92CDCD;
  text-decoration: none;
}
@media screen and (max-width:770px){
 .top-nav li a{
    display: flex;
    font-size: 20px;
    border-width: 4;
    padding: 0;
  }
}
@media screen and (max-width:640px){
  .top-nav li a{
    display: flex;
    font-size: 12px;
    border-width: 4;
    padding: 0;
    color: #92CDCD;
  }
}

.top-nav li a:hover {
  cursor: pointer;
  color: white;
}

/* right side top nav end */
/* nav end */



/* hero/image banner start */

.hero-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url("../../assets/images/visax-d8LP0fzYNY0-unsplash.jpg");
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: none;
  background-position: center;
}


.hero-subtitle {
  padding: 10px;
  margin-right: 100px;
  margin-bottom: 20px;
  display: flex;
  color: #32343D;
  background-color: #92CDCD;
}
@media screen and (max-width:770px){
  .hero-subtitle {
    font-size: 16px;
    margin-right: 20px;

  }
}
/* hero section end */

/* about me section start */
.container {
  margin-top: 50px;
  display: flex;
}


.sec-title {
  display: flex;
  justify-content: flex-end;
  align-items: top;
  text-align: right;
  border-right: solid #445877 5px;
  color:  #445877;
  font-size: 38px;
  margin-right: 50px;
  padding-right: 20px;
  height: 250px;
  width: 20vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}

@media screen and (max-width:500px)
{
  .sec-title {
    font-size: 24px;
    margin-left: 10px;
    width: 80px;
    padding: 10px;
    height: 700px;
  }
}


.aboutp {
  font-size: 16px;
  padding-right: 50px;
  width: 75vw;
  line-height: 25px;
}

@media screen and (max-width:500px)
{
  .aboutp {
    font-size: 14px;
  }
}
/* about :end */



/* work :start */

.box1 {
  
  display: flex;
  background-image: url("../../assets/images/Screen\ Shot\ 2023-08-04\ at\ 7.23.16\ PM.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  border: solid 10px #92CDCD ;
  height: 500px;
  width: 100%;
  margin-bottom: 20px;
  opacity: 1.0;
}


#overlay:hover  {
  cursor: pointer;
  background-position: cover;
  background-repeat: none;
  background-position: center;
  /* background-image: url("../../assets/images/visax-d8LP0fzYNY0-unsplash.jpg"); */
  opacity: 0.8;
  border: solid 10px #28aa7a ;
}

.box2 {
  display: flex;
  background-image: url("../../assets/images/visax-d8LP0fzYNY0-unsplash.jpg");
  background-position: cover;
  background-repeat: none;
  background-position: center;
  border: solid 10px #92CDCD ;
  height: 200px;
  width: 50%;
  margin-bottom: 20px;
  opacity: 0.8;
}

.box3 {
  display: flex;
  background-image: url("../../assets/images/visax-d8LP0fzYNY0-unsplash.jpg");
  background-position: cover;
  background-repeat: none;
  background-position: center;
  border: solid 10px #92CDCD ;
  height: 200px;
  width: 50%;
  margin-bottom: 20px;
  opacity: 0.8;
}


.sidebysideboxes {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}


.sec-title-2 {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  justify-content: flex-end;
  align-items: top;
  text-align: right;
  border-right: solid #445877 5px;
  color:  #445877;
  font-size: 38px;
  margin-right: 50px;
  padding-right: 20px;
  height: 850px;
  width: 20vw;
}

@media screen and (max-width:500px)
{
  .sec-title-2 {
    font-size: 24px;
    margin-left: 10px;
    width: 80px;
    padding: 10px;
  }
}

.work-subtitle {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
  left: 20px;
  top: 100px;
  color: #32343D;
  background-color: #92CDCD;
  height: 50px;
}

@media screen and (max-width:500px)
{
  .work-subtitle {
    font-size: 10px;
    width: 80px;
    padding: 10px;
  }
}
/* work end */




/* contact start */
#contact-title {
  margin-top: 20px;
  height: 100px;
}

footer {
  width: 100%;
  display: flex;

}

footer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: -50px;
  width: 75%;
}

footer li {
  display: flex;
  border-bottom: solid #445877;
  border-width: 4px;
  padding: 4px;
  font-size: 24px;
}

@media screen and (max-width:950px)
{
  .footer li {
    display: flex;
    font-size: 10px;
  }
}

@media screen and (max-width:750px)
{
  .footer li {
    display: flex;
    font-size: 10px;
  }
}


@media screen and (max-width:500px)
{
  .footer li {
    display: flex;
    font-size: 10px;
  }
}

@media screen and (max-width:500px)
{
  #contact-title {
    font-size: 20px;
    margin-left: 12px;
  }
}
/* contact :end */